TransitionOfCare/CCDAHybrid/Schema/SDTC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2017 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hl7="urn:hl7-org:v3" xmlns="urn:hl7-org:sdtc" targetNamespace="urn:hl7-org:sdtc" elementFormDefault="qualified">
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="CDA_SDTC.xsd"/>
	<xs:annotation>
		<xs:documentation>SDTC Schema Extensions, July 2012</xs:documentation>
		<xs:documentation>SG: Added digitalSignature extension, 14 July 2013</xs:documentation>
	</xs:annotation>
	<xs:attribute name="valueSet" type="hl7:oid"/>
	<xs:attribute name="valueSetVersion" type="hl7:st"/>
	<xs:element name="raceCode" type="hl7:CE"/>
	<xs:element name="dischargeDispositionCode" type="hl7:CE"/>
	<xs:element name="id" type="hl7:II"/>
	<xs:element name="deceasedInd" type="hl7:BL"/>
	<xs:element name="deceasedTime" type="hl7:TS"/>
	<xs:element name="birthTime" type="hl7:TS"/>
	<xs:element name="signatureText" type="hl7:ED"/>
</xs:schema>
